body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  /* background-color: rgb(50, 50, 71); */
  background-image: "./login baground image.jpg";
  
}

.login-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

h1,
h2 {
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
}

#forgotPassword{
  margin-top: 5px;

};
