body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#product-details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.product-image {
  width: 100%;
  height: auto;
  max-height: 150px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  background-color: #e8d6d6;
  border-radius: 8px;
  width: 300px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
}

#product-details {
  margin: 30px;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px;
}

nav {
  background-color: #ab9aea;
  color: #f4c6c6;
  padding: 10px 0;
  font-size: 20px;
}

.nav-links {
  margin: 10px;
}

li {
  color: rgb(237, 211, 211);
}





/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the navbar */
nav {
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffa500;
}


@media (max-width: 768px) {
  .card {
    width: 95%;
    max-width: none;
  }
}
